<div class="hero">
  <div class="overlay">
    <div class="gradient">
      <h1 class="header text-center">Weather Dashboard</h1>
      <p class="sub-header text-center">
        From rain or shine - stay on top of the weather with our weather
        dashboard.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <app-city-selector></app-city-selector>
    </div>
    <div class="col-xs-7" style="margin-left: 5px;">
      <app-weather-display></app-weather-display>
    </div>
  </div>
</div>
