.input{
    height: 50px;
    font-size: 1.16rem;
  }
  
  #search-button {
    font-weight: 500;
    font-size: 1.125rem;
    color: #100c1d;
    padding: 0px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #f9dc5c;
    height: 3rem;
    transition: 0.15s all ease;
  }
  
  #search-button:hover {
    color: #fff;
    box-shadow: rgba(24, 24, 24, 0.4) 0px 4px 4px -1px;
    background-color: rgb(17, 97, 73);
  }
  
  #search-button:active {
    transform: scale(0.98);
    /* background-color: rgb(9, 128, 76); */
  }
  #Search-card{
    margin-top: 10px;
    height: 322px;
  }
  